/* Popup window styling */
.tripDesc {
    text-align: left;
    padding-bottom: 2px;
    margin-bottom: 2px;
    border-bottom: black dashed thin;
}

.tripDesc .tripDescDetails {
    margin-left: 10px;
}

.leaflet-popup-content {
    max-height: 250px;
    overflow-y: scroll;
}

.filterPanel .filterDesc {
    font-weight: bold;
}

/* multiselect aesthetics */
.multiselect {
    overflow: hidden;
}

/* not selected */
.filterPanel .panelContent {
    border-top: grey dashed 1px;
    padding-top: 3px;
    margin-top: 2px;
}

.filterPanel {
    border: grey dashed 1px;
    padding: 5px;
    margin-bottom: 10px;
}

.filterPanel .panelControl {
    background-color: #BFBFBF;
    min-width: 200px;
    text-align: center;
}

.filterPanel table td {
    padding-bottom: 2px;
    padding-left: 2px;
}

/* selected */
.activePanel {
    border: green solid 1px;
}

.activePanel .panelContent {
    border-top: green solid 1px;
}

.activePanel .panelControl {
    background-color: #BEF202;
}

/* etc */
.filterPrediction {
    text-align: center;
    display: none;
}

#invisCheckbox {
    display: none;
}

/* Well styling */
.well {
    margin-bottom: 0px;
}

.mergeWithRight {
    padding-right: 7px;
    border-right-width: 0;
}

.mergeWithLeft {
    padding-left: 7px;
    border-left-width: 0;
}