/* Popup window styling */
body {
    background-color: #407394; /*MAIN COLOR*/
}

.tripDesc {
    text-align: left;
    padding-bottom: 2px;
    margin-bottom: 2px;
    border-bottom: black dashed thin;
}

.tripDesc .tripDescDetails {
    margin-left: 10px;
}

.leaflet-popup-content {
    max-height: 250px;
    overflow-y: scroll;
}

.filterPanel .filterDesc {
    font-weight: bold;
}

/* multiselect aesthetics */
.multiselect {
    overflow: hidden;
}

/* panel style setting */
.panel {
    margin-bottom: 3px;
}

.heading-row {
    background-color: #38617d; /*DARK COLOR*/
    font-weight: bold;
    font-size: 14px;
    color: #fff;

    border: 0px;

    padding: 5px 15px 2px 5%;
    line-height: 1.42857;
}
.filters {
    border: 0px;

    background-color: #407394; /*MAIN COLOR*/
    font-weight: normal;
    color: #fff;
    
    padding: 0px;
    padding-bottom: 5px;
}

.ui-button-text {
    font-size: 0.8em;
    font-weight: normal;
}
.ui-buttonset .ui-button {
    margin-left: 0;
    margin-right: -0.4em;
}
.filters td:first-child label {
    font-weight: normal;
    font-size: 0.9em;
    color: #fff;
    margin-bottom: 0px;
}
.btn-group {
    margin-bottom: 1px;
}

.filters table {
    width: 100%;
}
.filters table td:first-child {
    padding-left: 8%;
    padding-right: 10px;
    min-width: 5em;
    
    line-height: 1.42857;
}
.filters table td:last-child {
    padding-right: 2px;
}

.filters table td {
    vertical-align: middle;
    padding-top: 1px;
    padding-bottom: 1px;
}

.filters table .firstLine td {
    padding-top: 5px;
}
.filters table .lastLine td {
    padding-bottom: 5px;
}

.filterPrediction {
    line-height: 2.2em;
    background-color: #83a4b9; /*EVEN-LIGHTER COLOR*/
    text-align: center;
    /*display: none;*/
    color: #fff;
}

/* Graph section styling */
.graphsTitle {
    color: #fff;
}
.graphMessage {
    display: block;
}
.graphDrawingArea {
    display: none;
}

.graphSection .container-fluid {
    padding-left: 5px;
    padding-right: 5px;
}
.graphSection .container-fluid div div {
    /* this is graph <div> */
    /*background-color: rgba(86, 61, 124, 0.15);*/
    border: 1px solid rgba(86, 61, 124, 0.2);
    padding-bottom: 15px;
    padding-top: 15px;
}

.ui-accordion .ui-accordion-content {
    padding: 1em 0em; /*1em 2.2em;*/
}

.ui-accordion .ui-accordion-content h4 {
    text-align: left;
}

/* filter elements with the same width */
.btn-group {
    width: 128px;
}
.ageSpecialSelect .btn-group {
    width: 57px; /* = (btn-group.width/2) - 7px*/
}
.exclusionSelect label {
    width: 44.3px;
}

/* etc */
#invisCheckbox {
    display: none;
}

/* Well styling */
.well {
    margin-bottom: 0px;
}

.mergeWithRight {
    padding-right: 7px;
    border-right-width: 0;
}

.mergeWithLeft {
    padding-left: 7px;
    border-left-width: 0;
}

/* loading icon */
.loadingIcon {
    position: absolute;
    top: 75%;
    left: 25px;
    z-index: 9999;

    padding: 40px;
    background-color: white;
    border-radius: 4px;

    color: red;

    display: none;
}

/* control panel toggle styling */
.custom-control-panel {
    background-color: white;
    border-radius: 4px;

    font-size: 20px;
    min-height: 40px;
    padding: 0 5px 0 10px;
}
.custom-control-panel .toggle-part, .custom-control-panel .shown-on-mouseover {
    display: none;
}
.v-align {
    height: 55px;
    margin:10px;
    text-align: center;
    display:table-cell;
    vertical-align:middle;
}

/* MAIN PAGE LAYOUT STYLING - LOGIC */
/* Sidebar layout settings */
#wrapper {
    padding-left: 0;
}

/* left side of screen - map region */
#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 66%;
    width: 0;
    height: 100%;
    margin-left: -66%;
    overflow-y: auto;
}

/* right side of screen - filters and graphs */
#page-content-wrapper {
    width: 100%;
}

/* behaviour when we have enough space - keep yourself in two columns */
@media(min-width:768px) {
    #wrapper {
        padding-left: 75%;
    }

    #sidebar-wrapper {
        width: 75%;
    }
}
/* ... otherwise force the linebreaking */
@media(max-width:768px) {
    #sidebar-wrapper {
        position: relative;
        width: 100%;
        height: 95%;
        display: block;
    }
}

/* mobile / tablet */
@media only screen and (max-device-width: 480px) {
    #sidebar-wrapper {
        position: relative;
        width: 90%;
    }
}