.tripDesc {
    text-align: left;
    padding-bottom: 2px;
    margin-bottom: 2px;
    border-bottom: black dashed thin;
}

.tripDesc .tripDescDetails {
    margin-left: 10px;
}


.filterPanel .filterDesc {
    font-weight: bold;
}

/* not selected */
.filterPanel .panelContent {
    border-top: grey dashed 1px;
    padding-top: 3px;
    margin-top: 2px;
}

.filterPanel {
    border: grey dashed 1px;
    padding: 5px;
    margin-bottom: 10px;
}

.filterPanel .panelControl {
    background-color: #BFBFBF;
    min-width: 200px;
    text-align: center;
}

/* selected */
.activePanel {
    border: green solid 1px;
}

.activePanel .panelContent {
    border-top: green solid 1px;
}

.activePanel .panelControl {
    background-color: #BEF202;
}


